<div>
    <h1>{{title}}</h1>
    <p>{{credits}}</p>
</div>
<div>
  <nav>
    <!-- <a routerLink="/register">Register</a>
    <br>
    <a routerLink="/login">Login</a> -->
  </nav></div>

  <router-outlet></router-outlet>
    
  <!-- <div>
    <app-user></app-user>
    <router-outlet></router-outlet>
    <br>
    <app-catalogue></app-catalogue>
    <app-musicianhomepage></app-musicianhomepage>
    <app-employeehomepage></app-employeehomepage>
    <app-userhomepage></app-userhomepage>
    <app-login></app-login>
    <app-register></app-register>
  </div> -->
  
  